# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
bin/
/snip
/snip-cli

# Test binary, built by `go test -c`
*.test

# Output of the go coverage tool, list of code coverage
*.out

# Dependency directories
vendor/

# Go build cache
.go-work/

# Local configuration / OS specific
.DS_Store
